node_modules
mise.toml
dist
out
Releases
.DS_Store
!scripts/dmg_template/.DS_Store
.eslintcache
.webpack
*.log*
.idea/

# Environment variables
.env

# Development userData and document directories
/_*/
