node_modules
dist
out
.DS_Store
.eslintcache
.vite
*.log*

# Environment variables
.env

# Resouces downloaded at build time
resources/python/
resources/uv/
resources/uv-tools/

# Griptape configuration directory
resources/griptape-config/

# Temporary data directory (used in worker threads)
.temp-data
